.MuiBox-root {
  padding: 0;
}

button {
  position: relative;
}

.submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #5a55da;
  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform 400ms ease-in-out;
  border-radius: 3px;
}

.submit:hover::before {
  transform: scaleX(1);
}

.submit {
  margin-bottom: 10px;
  height: 40px;
  background-color: #8a85ff;
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.submit:hover {
  margin-bottom: 10px;
  height: 40px;
  background-color: #8a85ff;
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.submit:hover::before {
  color: white;
}
